/* src/App.css */
.App {
  text-align: center; /* Center text */
  width: 100%; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  background-color: #f6f4eb; /* Background color */
  padding: 20px; /* Padding to prevent content from touching the edges */
  box-sizing: border-box; /* Padding and border included in the width and height */
  overflow-y: hidden;
}

.App-header {
  width: 80%; /* Slightly less than full width for padding effect */
  max-width: 1200px; /* Maximum width to prevent the header from becoming too wide on large screens */
  margin: auto; /* Center the header horizontally */
}

/* Slick overrides for cleaner look */
.slick-slider,
.slick-list,
.slick-track {
  height: auto !important; /* Override Slick's height */
}

.slick-slide {
  display: flex; /* Enables flexbox layout within each slide */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 70vh; /* Height adjusted to be less than the viewport height to accommodate navigation arrows */
}

/* Styles for image container */
.image-container {
  width: 100%; /* Full width */
}

/* Styles for images within the container */
.image-container img {
  width: auto; /* Auto width to maintain image aspect ratio */
  max-width: 100%; /* Ensures image is not wider than the container */
  height: auto; /* Auto height to maintain image aspect ratio */
  max-height: 70vh; /* Ensures image is not taller than the slide */
  object-fit: contain; /* Contain the image within the element's box */
}

/* This sets up the slider to work in a row fashion. */
.slick-slider {
  display: flex;
  flex-direction: column; /* Change to row if this is incorrect */
}

.slick-list {
  overflow: hidden; /* This ensures that overflowing slides are hidden */
}

.slick-track {
  display: flex;
  align-items: center; /* Make sure slides align horizontally */
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* This should not be necessary but just in case */
}

.slick-slider *:focus {
  outline: none;
}

/* Adjust your image-container if necessary */
.image-container {
  width: auto; /* Ensures container width matches image */
}


@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.shimmer {
  animation: shimmer 1s infinite linear;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}
